.chat-event {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0px 5px 0px;
}


.chat-event input {
    width: 80%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}

.chat-event button {
    width: 15%;
    height: auto;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
}