/* USERS */

.users {
  width: 20%;
  padding: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  height: 60vh;
}

.users h3 {
  margin-bottom: 20px;
}

.users-list {
  height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.users p {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
}

@media (max-width: 760px) {
  .users {
    width: 100%;
    height: 20vh;
  }
  .users-list {
    height: 20vh;
  }
}